<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <div class="wrap-head">
        <div class="head"></div>
      </div>
      <div class="wrap-container">
        <div class="container"></div>
      </div>
      <div class="wrap-foot">
        <div class="foot"></div>
      </div>
    </div>
  </body>
</html>